<!DOCTYPE html>
<html lang="en" ng-app="pokemonShop">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Shop</title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="ShopController as shop" id="shop" class="container-fluid">
    <div id="topBanner" class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div></br><h1>The Pokemon Shop</h1></div>
                <div><h5>Take home a friend today!</h5></div>
            </div>
            <div class="col-xs-4">
                <img src="img/nursejoy.gif"/>
            </div>

        </div>
    </div>


    <div ng-repeat="product in shop.products | orderBy:'name'" id="pokemonList" class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <p>{{product.name | uppercase}}</p>
                <p>{{product.price | currency}}</p>
                <img ng-src = "img/pokemon/{{product.name}}.png" class="img-responsive"/>
                </br>
                <button ng-show="product.canPurchase">Add to Cart</button>
                <p ng-show="!product.canPurchase">SOLD OUT</p>
            </div>
            <div class="col-xs-8" id="productDetails"  ng-controller="PanelController as panel">
                <ul class="nav nav-pills red">
                    <li ng-class="{ active: panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>
                    </li>
                    <li ng-class="{ active: panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Reviews</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>{{product.name | uppercase}}</h4>
                    <p>Height: {{product.height}}</p>
                    <p>Weight: {{product.weight}}</p>
                    <p>Category: {{product.category}}</p>
                    <p>Type: {{product.type.join(", ")}}</p>
                    <p>Weakness: {{product.weakness.join(", ")}}</p>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Customer Reviews</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Stars: {{review.stars}}</b>

                        <p>{{review.body}}</p>
                        <cite>-{{review.author}} on {{review.createdOn | date}}</cite>
                    </blockquote>
                    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                        <blockquote ng-show="reviewCtrl.review.stars">
                            <b>Stars: {{reviewCtrl.review.stars}}</b>

                            <p>{{reviewCtrl.review.body}}</p>
                            <cite ng-show="reviewCtrl.review.author">-{{reviewCtrl.review.author}}</cite>
                        </blockquote>
                        <div id="formSelect">
                            <select style="width: 80%" ng-model="reviewCtrl.review.stars" name="userStars" required>
                                <option value="">Please select</option>
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                             </select>
                             <span class="glyphicon glyphicon-ok" ng-class="{valid:reviewForm.userStars.$valid}"></span>
                        </div>
                        <p></p>
                        <div id="formUserName">
                            <input style="width: 80%" type="text" placeholder="Your name." name="userName" ng-model="reviewCtrl.review.author" required/>
                            <span class="glyphicon glyphicon-ok" ng-class="{valid:reviewForm.userName.$valid}"></span>
                        </div>
                        <p></p>
                        <div id="formTextArea">
                            <textarea style="width: 80%" placeholder="Enter your thoughts here." name="userOpinion" ng-model="reviewCtrl.review.body" required></textarea>
                            <span class="glyphicon glyphicon-ok" ng-class="{valid:reviewForm.userOpinion.$valid}"></span>
                        </div>
                        <p></p>
                        <input type="submit"/>
                        </form>
                </div>
            </div>
        </div>
    </div>



</body>
</html>